{% extends "base.html" %}
{% block content %}
<h2>Your Expenses</h2>
<table border="1">
  <tr>
    <th>Amount</th>
    <th>Category</th>
    <th>Receipt</th>
    <th>Action</th>
  </tr>
  {% for e in expenses %}
  <tr>
    <!-- <td>{{ e.title }}</td> -->
    <td>{{ e.amount }}</td>
    <td>{{ e.category }}</td>
    <td>
      {% if e.bill_image %}
        <img src="/{{ e.bill_image }}" alt="Receipt" width="100">
      {% else %}
        No file
      {% endif %}
    </td>
    <td>
      <form action="/expenses/edit/{{ e.id }}" method="get" style="display:inline;">
    <button type="submit">Edit</button>
  </form>
      <form action="/expenses/delete/{{ e.id }}" method="post" style="display:inline;"
            onsubmit="event.preventDefault(); fetch(this.action, {method: 'DELETE'}).then(() => location.reload());">
        <button type="submit">Delete</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
